@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Admin giriş:</h1>
<form class="user" method="post" asp-action="login">
    <div class="form-group">
        <input asp-for="Username" class="form-control form-control-user" placeholder="Enter username">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Password" class="form-control form-control-user"
               placeholder="Enter password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        Login
    </button>

</form>

